<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex flex-column gap-4 pb-4">
    <div class="field form-group">
      <%= form.label :first_name, class:"form-label"  %>
      <%= form.text_field :first_name, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :last_name, class:"form-label" %>
      <%= form.text_field :last_name, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :email, class:"form-label" %>
      <%= form.text_field :email, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :phone, class:"form-label" %>
      <%= form.text_field :phone, class:"form-control" %>
    </div>    

    <div>
      <strong>Categories</strong>
      <br>
      <% Tag.all.each do |tag| %>
        <div class="form-check">
          <%= check_box_tag "contact[tag_ids][]", tag.id, @contact.tags.include?(tag), class: "form-check-input", id: "tag_#{tag.id}" %>
          <%= label_tag "tag_#{tag.id}", tag.name, class: "form-check-label" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

  <div class="mb-3">
  <%= form.label :profile_image, "Profile Image" %>
  <%= form.file_field :profile_image, id: "contact_profile_input", class: "form-control" %>

  <% if @contact.profile_image? %>
    <img id="contact_profile_preview" src="<%= @contact.profile_image.url %>" class="mt-2 img-thumbnail" style="max-height: 100px;">
  <% else %>
    <img id="contact_profile_preview" class="mt-2 img-thumbnail" style="max-height: 100px; display: none;">
  <% end %>

  <button type="button" id="clear_contact_profile" class="btn btn-outline-secondary btn-sm mt-2">
    Clear
  </button>
</div>


  <%= form.submit class:"btn btn-primary" %>

<% end %>
