<% content_for :title, "Contacts" %>

<div class="d-flex flex-column gap-4">

  <h1>Contacts</h1>

  <%= form_with url: contacts_path, method: :get, local: true, html: { id: "filters-form" } do %>
    <div class="row g-2 align-items-start justify-content-between">
      <!-- Filters and search (left side) -->
      <div class="col-md-6">
        <div class="mb-2 input-group">
          <%= label_tag :search, "Search by name", class: "visually-hidden" %>
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
          <%= submit_tag "Apply", class: "btn btn-outline-primary", id: "filter-submit" %>
        </div>

        <div class="mb-2">
          <fieldset>
            <legend class="visually-hidden">
              Tag Filters
            </legend>
            <% @tags.each do |tag| %>
              <div class="form-check form-check-inline">
                <%= check_box_tag "tag_ids[]", tag.id, params[:tag_ids]&.include?(tag.id.to_s), id: "tag_#{tag.id}", class: "form-check-input" %>
                <%= label_tag "tag_#{tag.id}", tag.name, class: "form-check-label" %>
              </div>
            <% end %>
          </fieldset>
        </div>

        <div class="form-check mb-2">
          <%= check_box_tag :mine, "1", params[:mine].present?, class: "form-check-input", id: "mine_filter" %>
          <%= label_tag :mine, "Show only my contacts", class: "form-check-label", for: "mine_filter" %>
        </div>

        <div class="mb-2 d-flex gap-2">
          <% if params[:search].present? || params[:tag_ids].present? %>
            <%= link_to "Clear Filters", contacts_path, class: "btn btn-outline-secondary btn-sm" %>
          <% end %>
        </div>
      </div>

      <!-- Right side button aligned to top -->
      <div class="col-md-4 text-md-end">
        <%= link_to "Add New Contact", new_contact_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Created By</th>
        </tr>
      </thead>

      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= link_to contact.last_name + ", " + contact.first_name, contact %></td>
            <td><%= contact.email %></td>
            <td><%= contact.phone %></td>
            <td>
              <% if contact.user == current_user %>
                <strong>You</strong>
              <% else %>
                <%= "#{contact.user.email}" %>
              <% end %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mx-auto">
    <%= paginate @contacts, window: 1%>
  </div>
</div>
