<% content_for :title, "Contacts" %>

<h1>Contacts</h1>

<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= link_to "Show", contact %></td>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to "Add New Contact", new_contact_path, class:"btn btn-primary"%>
