<div data-contact-id="<%= @contact.id %>" class="d-flex flex-column gap-4">
  <div class="p-4 bg-body-tertiary rounded-3">
    <div class="container-fluid px-0 py-2">
      <h1 class="display-5 fw-bold"><%= @contact.first_name %> <%= @contact.last_name %></h1>
      <p class="lead"><%= @contact.email %> | <%= @contact.phone %></p>
      <% if @contact.tags.length > 0 %>
      <p><strong>Tags:</strong>
        <%= @contact.tags.map(&:name).join(", ") %>
      </p>
      <% end %>
    </div>

    <pre>
  Contact: <%= @contact.inspect %>
  Profile Image: <%= @contact.profile_image %>
  URL: <%= @contact.profile_image.url if @contact.profile_image? %>
</pre>

    <% if @contact.profile_image? %>
      <%= image_tag @contact.profile_image.url(:thumb), class: "rounded-circle" %>
    <% end %>

    <% if current_user.id === @contact.user_id %>
      <div class="d-flex flex-row gap-2">
        <%= link_to "Edit", edit_contact_path(@contact), class:"btn btn-primary" %>
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
          Delete
        </button>

        <!-- Modal -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <header class="modal-title fs-5" id="confirmDeleteModal">Confirm Delete</header>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you would like to delete <strong><%= @contact.first_name %> <%= @contact.last_name %></strong>?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <%= button_to "Delete", @contact, method: :delete, class:"btn btn-danger" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
      
  <div>
    <%= link_to "Back", contacts_path, class:"btn btn-secondary" %>
  </div>
</div>